body {
    background-attachment:fixed;
    background-color: #dfb6f399;}

footer{display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     flex-direction: row;}
header{display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     flex-direction: row;}
li{color: black;
       display: flex;
       background-color: #ff003329;
       justify-content: center;
       font-size: 30px;
       font-family: Arial, Helvetica, sans-serif;}
img{height: 80%;
       display: flex;
      justify-content: center;
       border-radius: 30;}
h2{
     font-family: Arial, Helvetica, sans-serif;
     font-size:25px;}
nav{color: black;
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
     align-items: flex-start;
     justify-content: space-around;}
a:link{color: black;}
a:visited{color:black;}
a:active{color: antiquewhite;
background-color: pink;}
a:hover{background-color: violet;
transform: scale(1.2);}
.TITULO{color: black;
font-size: 70px;
  text-decoration: underline;
}
.liry{display:flex;
  justify-content: center;
}
.boton{display:flex;
justify-content: center;}
 .messi {color: brown;
    text-decoration: underline;
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.lool{color: brown;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    font-size: 40px;

}
.locura{color: brown;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    font-size: 40px;

}
.info{color: black;
  font-size: 36px;
    display: flex;
    justify-content: center;
  background-color:  #764a6ea1;}
    .video{color: brown;
      display:flex;
      justify-content: center;
        font-size: 40px;
        margin-bottom: 0%;
        text-decoration: underline;}
.audio{color: brown;
  display: flex;
  justify-content: center;
  margin-bottom: 0%;
    font-size: 40px;
    text-decoration: underline;}
.contactos{color:#2c238a;
    font-size: 30px;}
.contactos:visited{color: black;}
.contactos:active{color: antiquewhite;
background-color: pink;}
.contactos:hover{background-color: violet;
transform: scale(1.2);}
.recetadelaabuela{color: black;
    font-size: 30px;
}
.panqueques{color: black;
    font-size: 30px;
}
.pandulce{color: black;
    font-size: 30px;
}
.bizcochuelo{color: black;
    font-size: 30px;
}
.social-icons2{
  display: flex;
  flex-direction: row-reverse;
align-items: center;
}

.social-icons2 a{
  display: flex;
  flex-direction: row-reverse;
align-items: center;

  width: 50px;
  height: 50px;
  margin: bottom: 100px;
  background-color: transparent;

}
.social-icons2 img{display: flex;
  flex-direction: row-reverse;
align-items: center;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.social-icons2 a:hover {
  transform: scale(1.2);
}
.correo{color: #2c238a;
    font-size: 30px;}
.correo:visited{color: black;}
.correo:active{color: antiquewhite;
background-color: pink;}
.correo:hover{background-color: violet;
transform: scale(1.2);}
.foto2{height: 80%;
       display: flex;
      justify-content: center;
       border-radius: 30;}
@media (max-width:500px) {
  .foto{
    display: none;
  }}
@media (max-width:500px) {
  body{
    background-image: url(../imagenes/paisaje2.jpg);
  }}
.información{
  display: flex;
   margin-top: 18px;
   height: 20%;
   border: none;
   outline: none;
   color: black;
   font-size: 1.2rem;
   font-weight: 500;
   border-radius: 10px;
   cursor: pointer;
   background-color: #5b4a68ab;
}
.dark{
    border: none;
    border-radius: 1PX;
    color:#000000;
    font-size: 1.2rem;
    font-weight: 500;
}

.dark:hover{
    font-size: 1.3rem;
}
